.scroll {
    background: url('../assets/buttonTop.png') no-repeat;
    width: 131px;
    height: 131px;
    position: fixed;
    bottom: 30px;
    right: 44px;
    cursor: pointer;
    display: none;
    z-index: 999;
}